.logo {
    width: 120px;
    height: 51px;
    background: rgba(255, 255, 255, 0.2);
    margin: 6px 24px 6px 0;
    float: left;
  }

  .site-layout-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
  }

  .user {
    width: 140px;
    height: 51px;
    background: rgba(255, 255, 255, 0.918);
    float: right;
    margin: 6px 24px 6px 0px;
    text-align: center;
  }