/**.parent .SimulationParameters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .parent .test {
    flex: 1 1 150px; 
    flex: 0 1 150px; 
    margin: 5px;
  }
  .parent .PreferencesTable {
    flex: 1 1 150px; 
    flex: 0 1 150px; 
    margin: 5px;
  }*/

.Gains{
  border-bottom: 2px solid #000000;
  border-top: 2px solid #000000;
  color: #000000;
  display: grid;
  line-height: 50px;
  list-style-type: none;
  margin: 10px 0;
  text-decoration: none;
  place-items: center;

}